body {
  font-family: roboto;
  margin: 0;
}

.top-page-header {
  background-color: #1f2937;
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.top-page-header > span {
  font-size: 24px;
  color: #f9faf8;
  font-weight: 700;
}

.top-page-header ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.top-page-header ul a {
  text-decoration: none;
  color: #e5e7eb;
}

.top-page-header li {
  display: inline;
}

.first {
  background-color: #1f2937;
  height: 500px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

h1 {
  margin: 0;
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
}

.first p {
  font-size: 18px;
  color: #e5e7eb;
}

.content,
img {
  width: 450px;
}
